body {
  background: #000; 
  margin: 0 auto;
  font-size: 30px;
  font-family: 'Cinzel', serif;
  @media screen and (min-width: $large) {
    font-size: 20px;
    }
}
  

section {
  position: relative;
  min-height: 50vh;
  margin-top: -3px;
  
  &.two {
  	background-color: #000;
  }
}

h1 {
  color: white;
  font-weight: 500;
  font-size: 60px;
  text-align: center;
  margin: 0;
  line-height: 70px;
  -webkit-user-select: none;
}
h2{
  text-align: center;
  color: #fff;
  font-size: 45px;
}
